/* Tailwind styles */

@tailwind;

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.flex{
  display: flex;
}

.h-10{
  height: 2.5rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-10{
  width: 2.5rem;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.max-w-sm{
  max-width: 24rem;
}

.cursor-pointer{
  cursor: pointer;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.border-solid{
  border-style: solid;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-yellow{
  --tw-bg-opacity: 1;
  background-color: rgb(244 208 78 / var(--tw-bg-opacity));
}

.p-2{
  padding: 0.5rem;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.font-custom{
  font-family: Figtree, sans-serif;
}

.text-Preset3{
  font-size: 14px;
}

.text-Preset4{
  font-size: 12px;
}

.text-Preset5{
  font-size: 20px;
}

.font-extrabold{
  font-weight: 800;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.leading-customLineHeight{
  line-height: 150%;
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 107 107 / var(--tw-text-opacity));
}

/* Custom styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  transform: translateX(-6px) translateY(-6px);
}

.hover\:text-yellow:hover{
  --tw-text-opacity: 1;
  color: rgb(244 208 78 / var(--tw-text-opacity));
}

@media (min-width: 768px){
  .md\:text-Preset1{
    font-size: 24px;
  }

  .md\:text-Preset2{
    font-size: 16px;
  }

  .md\:text-Preset3{
    font-size: 14px;
  }
}